.video-bg {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.164) 30%, rgb(0, 0, 0) 65%) ,
    url("../../assets/Images/video.jpg");
  background-size: cover;
  background-position: center center;
  
}
