.club-bg {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.164) 10%, rgb(0, 0, 0) 80%) ,
    url("../../../assets/Images/Club-BG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  
}
